.scrollToTop {
position: fixed;
z-index: 100;
right: 1rem;
bottom: 2rem;
height: 2rem;
width: 2rem;
border: none;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.614);
}

.scrollToTop:hover,
.scrollToTop:active {
  background-color: rgb(255, 255, 255);
}

.scrollToTop > img {
  width: 100%;
  height: 100%;
}
