.text-area {
  height: auto;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  border: none;
  width: 20rem;
}

.text-area:focus {
  outline: none;
  box-shadow: 0 0 10px 1px var(--offwhite);
}